@model IEnumerable<Apartamentos.Models.Cuentas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlugueHistory.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apt.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AlugueHistory.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apt.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CuentasID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CuentasID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CuentasID })
        </td>
    </tr>
}

</table>
