@model Apartamentos.Models.Apt

@{
    ViewBag.Title = "Create";
}

}
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="#"><img src="~/Content/img/ana.jpg" class="img-circle" width="80"></a></p>
            <h5 class="centered">Ana Amelia</h5>
            <li class="mt">
                <a href="/Apto/Home/Index">
                    <i class="fa fa-dashboard"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    <span>Pessoas</span>
                </a>
                <ul class="sub">
                    <li><a href="/Apto/Persona/Index">Lista de Pessoas</a></li>
                    <li><a href="/Apto/Persona/Create">Incluir Pessoa</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-home"></i>
                    <span>Apartamentos</span>
                </a>
                <ul class="sub">
                    <li><a href="/Apto/AptSolo/Index">Lista de Apartamentos</a></li>
                    <li><a href="/Apto/AptSolo/Create">Incluir Apartamento</a></li>
                    <li><a href="/Apto/Apt/Index">Apartamentos Disponíveis</a></li>
                    <li><a href="/Apto/Apt/Index1">Apartamentos Alugados</a></li>
                </ul>
            </li>
           
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row mt">
            <!-- /col-lg-12 -->

            <div class="col-lg-12 mt">
                <div class="border-head">
                    <h3>INCLUIR APARTAMENTO</h3>
                </div>
                <div class="row content-panel">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs nav-justified">

                            <li class="active">
                                <a data-toggle="tab" href="#edit">ALUGRA APARTAMENTO</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /panel-heading -->
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="edit" class="tab-pane active">
                                @using (Html.BeginForm("Create", "Apt", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form" }))
                                {
                                    <div class="row">

                                        <div class="col-lg-8 col-lg-offset-2 detailed">
                                            <h4 class="mb">Dados do Apartamento</h4>


                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PersonaID, "Descrição", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-lg-6">
                                                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.HiddenFor(model => model.AptsIdentificador, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Descripcion, "Nome da Pessoa", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-lg-6">
                                                    @if (ViewBag.LlegoId != null)
                                                    {
                                                        <input type="text" placeholder=" " value="@ViewBag.PersonaName" readonly class="form-control">
                                                        @Html.HiddenFor(model => model.PersonaID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownList("PersonaID", null, htmlAttributes: new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.PersonaID, "", new { @class = "text-danger" })
                                                    }
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FechaInicio, "Data", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-3 col-xs-11">
                                                    <div data-date-viewmode="years" data-date-format="dd/mm/yyyy" data-date="@Model.FechaInicio.ToString()" class="input-append date dpYears">
                                                      @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @size = "16" } })
                                                       
                                                        <span class="input-group-btn add-on">
                                                            <button class="btn btn-theme" type="button"><i class="fa fa-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                    <span class="help-block">Selecione a data</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PersonaID, "Precio", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-lg-6">
                                                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <h4 class="mb">Fotos</h4>

                                            <div class="row mt">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
                                                    <div class="project-wrapper">
                                                        <div class="project">
                                                            <div class="photo-wrapper">
                                                                <div class="photo">
                                                                    @if (!string.IsNullOrEmpty(Model.Foto1))
                                                                    {
                                                                        <a class="fancybox" href="@Url.Content(Model.Foto1)"><img class="img-responsive" src="@Url.Content(Model.Foto1)" alt=""></a>
                                                                    }
                                                                </div>
                                                                <div class="overlay"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- col-lg-4 -->
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
                                                    <div class="project-wrapper">
                                                        <div class="project">
                                                            <div class="photo-wrapper">
                                                                <div class="photo">
                                                                    @if (!string.IsNullOrEmpty(Model.Foto2))
                                                                    {
                                                                        <a class="fancybox" href="@Url.Content(Model.Foto2)"><img class="img-responsive" src="@Url.Content(Model.Foto2)" alt=""></a>
                                                                    }
                                                                </div>
                                                                <div class="overlay"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- col-lg-4 -->
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
                                                    <div class="project-wrapper">
                                                        <div class="project">
                                                            <div class="photo-wrapper">
                                                                <div class="photo">
                                                                    @if (!string.IsNullOrEmpty(Model.Foto3))
                                                                    {
                                                                        <a class="fancybox" href="@Url.Content(Model.Foto3)"><img class="img-responsive" src="@Url.Content(Model.Foto3)" alt=""></a>
                                                                    }
                                                                </div>
                                                                <div class="overlay"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- col-lg-4 -->
                                            </div>





                                            <!-- /col-lg-8 -->
                                        </div>

                                        <!-- /row -->
                                    </div>
                                    <div class="row mt">
                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <button class="btn btn-theme" type="submit">Salvar</button>
                                                <a href="/Apto/Apt/Index"><button class="btn btn-theme04" type="button">Cancelar</button></a>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                            <!-- /tab-content -->
                        </div>
                        <!-- /panel-body -->
                    </div>
                    <!-- /col-lg-12 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
    </section>
    <!-- /wrapper -->
</section>

