@model Apartamentos.Models.Apt

@{
    ViewBag.Title = "Details";
}

<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="#"><img src="~/Content/img/ana.jpg" class="img-circle" width="80"></a></p>
            <h5 class="centered">Ana Amelia</h5>
            <li class="mt">
                <a href="/Apto/Home/Index">
                    <i class="fa fa-dashboard"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    <span>Pessoas</span>
                </a>
                <ul class="sub">
                    <li><a href="/Apto/Persona/Index">Lista de Pessoas</a></li>
                    <li><a href="/Apto/Persona/Create">Incluir Pessoa</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-home"></i>
                    <span>Apartamentos</span>
                </a>
                <ul class="sub">
                    <li><a href="/Apto/AptSolo/Index">Lista de Apartamentos</a></li>
                    <li><a href="/Apto/AptSolo/Create">Incluir Apartamento</a></li>
                    <li><a href="/Apto/Apt/Index">Apartamentos Disponíveis</a></li>
                    <li><a href="/Apto/Apt/Index1">Apartamentos Alugados</a></li>

                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row mt">
            <!-- /col-lg-12 -->

            <div class="col-lg-12 mt">
                <div class="border-head">
                    <h3>DETALHES DO ALUGUE</h3>
                </div>
                <div class="row content-panel">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs nav-justified">

                            <li class="active">
                                <a data-toggle="tab" href="#edit">DETALHES DA PESSOA</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#edit1">DETALHES DO APRTAMENTO</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#edit2">Contas</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /panel-heading -->
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="edit" class="tab-pane active">
                                <div class="row">
                                    <div class="col-lg-8 col-lg-offset-2 detailed">
                                        <h4 class="mb">Dados pessoais</h4>
                                        <form role="form" class="form-horizontal">
                                            @Html.AntiForgeryToken()

                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Nome Completo</label>
                                                <div class="col-lg-6">
                                                    <input type="text" placeholder=" " id="Nombre" name="Nombre" value="@ViewBag.objPersona.Nombre" readonly class="form-control">
                                                    <input type="hidden" placeholder=" " id="Id" name="Id" value="@ViewBag.objPersona.PersonaID" readonly class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Registro Geral</label>
                                                <div class="col-lg-6">
                                                    <input type="text" placeholder=" " id="Rg" name="Rg" value="@ViewBag.objPersona.Rg" maxlength="7" readonly class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">CPF</label>
                                                <div class="col-lg-6">
                                                    <input type="text" placeholder=" " id="Cpf" name="Cpf" value="@ViewBag.objPersona.Cpf" maxlength="11" readonly pattern="[0-9]+" class="form-control">
                                                </div>
                                            </div>

                                            <h4 class="mb">INFORMAÇÃO DE CONTATO</h4>


                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Telefone</label>
                                                <div class="col-lg-6">
                                                    <input type="text" placeholder=" " id="Telefone" name="Telefone" value="@ViewBag.objPersona.Telefone" readonly class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Email</label>
                                                <div class="col-lg-6">
                                                    <input type="text" placeholder=" " id="Email" name="Email" value="@ViewBag.objPersona.Email" readonly class="form-control">
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <!-- /col-lg-8 -->
                                </div>
                                <!-- /row -->
                            </div>
                            <div id="edit1" class="tab-pane">
                                <div class="row">
                                    <div class="col-lg-8 col-lg-offset-2 detailed">
                                        <h4 class="mb">Dados do Apartamento</h4>
                                        <form role="form" class="form-horizontal">
                                            @Html.AntiForgeryToken()

                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Descrição</label>
                                                <div class="col-lg-6">
                                                    <input type="text" placeholder=" " id="Descripcion" name="Descripcion" value="@Model.Descripcion" readonly class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Preço</label>
                                                <div class="col-lg-6">
                                                    <input type="text" placeholder=" " id="Precio" name="Precio" maxlength="7" value="@Model.Precio" readonly class="form-control">
                                                </div>
                                            </div>

                                            <h4 class="mb">Fotos</h4>

                                            <div class="row mt">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
                                                    <div class="project-wrapper">
                                                        <div class="project">
                                                            <div class="photo-wrapper">
                                                                <div class="photo">
                                                                    @if (!string.IsNullOrEmpty(Model.Foto1))
                                                                    {
                                                                        <a class="fancybox" href="@Url.Content(Model.Foto1)"><img class="img-responsive" src="@Url.Content(Model.Foto1)" alt=""></a>
                                                                    }
                                                                </div>
                                                                <div class="overlay"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- col-lg-4 -->
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
                                                    <div class="project-wrapper">
                                                        <div class="project">
                                                            <div class="photo-wrapper">
                                                                <div class="photo">
                                                                    @if (!string.IsNullOrEmpty(Model.Foto2))
                                                                    {
                                                                        <a class="fancybox" href="@Url.Content(Model.Foto2)"><img class="img-responsive" src="@Url.Content(Model.Foto2)" alt=""></a>
                                                                    }
                                                                </div>
                                                                <div class="overlay"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- col-lg-4 -->
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
                                                    <div class="project-wrapper">
                                                        <div class="project">
                                                            <div class="photo-wrapper">
                                                                <div class="photo">
                                                                    @if (!string.IsNullOrEmpty(Model.Foto3))
                                                                    {
                                                                        <a class="fancybox" href="@Url.Content(Model.Foto3)"><img class="img-responsive" src="@Url.Content(Model.Foto3)" alt=""></a>
                                                                    }
                                                                </div>
                                                                <div class="overlay"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- col-lg-4 -->
                                            </div>
                                        </form>
                                    </div>


                                </div>
                                <!-- /col-lg-8 -->
                            </div>
                            <div id="edit2" class="tab-pane">
                                <div class="row mb">

                                    <button class="btn btn-success btn-sm pull-left" data-toggle="modal" data-target="#myModal3">Incluir Conta</button>
                                </div>
                                @using (Ajax.BeginForm("Cuentas", "Apt", new AjaxOptions() { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tabla" }))
                                {
                                    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">


                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel3">Incluir nova Conta</h4>
                                                </div>

                                                <div class="modal-body">
                                                    @{ var cuenta = new Apartamentos.Models.Cuentas();
                                                       
                                                        cuenta.AptsIdentificador = Model.AptsIdentificador;
                                                        cuenta.fecha = DateTime.Now.ToShortDateString();

                                                    }

                                                    @{Html.RenderPartial("_CuentaForm", cuenta);}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type='button' class='btn btn -default' data-dismiss='modal'>Cancelar</button>
                                                    <button type="submit" class="btn btn-primary">Aceitar</button>
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="content-panel" id="tabla">
                                            @{Html.RenderPartial("Cuentas", Model);}
                                       
                                        </div>


                                    </div>
                                }
                                <!-- /col-lg-8 -->
                            </div>
                            
                        </div>

                        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form role="form" class="form-horizontal" method="post" action="/Apto/Apt/Delete">
                                        @Html.AntiForgeryToken()
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">ADVERTÊNCIA</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h5 class='mb'>Você tem certeza de que deseja terminar o alguel.</h5>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">Conclusão</label>
                                                <div class="col-md-3 col-xs-11">
                                                    <div data-date-viewmode="years" data-date-format="dd/mm/yyyy" data-date="@ViewBag.fecha" class="input-append date dpYears">
                                                        <input type="text" readonly="" id="fecha" name="fecha" value="@ViewBag.fecha" size="16" class="form-control">
                                                        <input type="hidden" id="id" name="id" value="@int.Parse(Model.AptsIdentificador)" />
                                                        <span class="input-group-btn add-on">
                                                            <button class="btn btn-theme" type="button"><i class="fa fa-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                    <span class="help-block">selecione a data</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type='button' class='btn btn -default' data-dismiss='modal'>Cancelar</button>
                                            <button type="submit" class="btn btn-primary">Aceitar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row mt">

                            <div class="col-lg-offset-2 col-lg-10">

                                <a href="/Apto/Apt/Index1"><button class="btn btn-theme03" type="button">Retornar</button></a>
                                <button class="btn btn-theme04 " data-toggle="modal" data-target="#myModal1">Terminar o Aluguel</button>
                            </div>

                        </div>
                    </div>
                    <!-- /panel-body -->
                </div>
                <!-- /col-lg-12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /wrapper -->
</section>